<%= form_with(model: @todo, local: true) do |form| %>
  <div class="field">
    <%= form.label :titel %>  
    <%= form.text_field :titel %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>